# Ignore Python virtual environment
.venv/
venv/

# Ignore environment configuration and sensitive files
config/.env
config/service_account_key.json

# Ignore compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore images and temporary files
images/
*.png
*.jpg
*.jpeg
*.bmp
*.gif

# VS Code
.vscode/
.devcontainer/

# Ignore GitHub Actions cache and logs
.github/workflows/cache/

# Node
node_modules/

# Ignore database file
data/*.db

# Other files
test.py
outdated.txt
encoded_service_account_key.txt